# Core ML and RAG frameworks
google-genai
pinecone
openai

# Search & Lexical
rank-bm25

# Document parsing & Chunks
langchain-text-splitters
tiktoken

# API & Web Server
fastapi
uvicorn
python-multipart
pydantic
requests
python-dotenv

# Data & Utilities
pandas
numpy
multiprocess